module <%= module_name %>.I18nText exposing (view)

import Html exposing (Html, node)
import Html.Attributes exposing (attribute)
import Json.Encode as Encode
import <%= module_name %>.Ids exposing (TranslationId(..))


view : TranslationId -> Html msg
view tid =
    let
        values =
            Encode.encode 0 (Encode.list Encode.string (tidToValues tid))
    in
        node "i18n-text"
            [ attribute "tid" (tidToKey tid)
            , attribute "values" values
            ]
            []


tidToKey : TranslationId -> String
tidToKey tid =
    case tid of<%!--
  --%><%= for clause <- clauses do %>
        <%= clause.pattern %> ->
            "<%= clause.key %>"
<% end %>

tidToValues : TranslationId -> List String
tidToValues tid =
    case tid of<%!--
  --%><%= for clause <- clauses do %>
        <%= clause.pattern %> ->
            <%= clause.values_expr %>
<% end %>
